body
{
	background: url(/background.jpg) no-repeat center left fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
}

#key
{
	color: #FF3730;
}

#value
{
	color: #0F8FFF;
}

#separator
{
	color: #D028FF;
}

a:link
{
	color: #ffffff;
	text-decoration:none;
}


a:visited
{
	color: #ffffff;
	text-decoration:none;
}

.container
{
	display: flex;
	min-height: 100vh;
	align-items: center;
}

.container > p
{
	margin-left: 10%;
	font-size: 1.2em;
	color: #ffffff;
	font-family: Consolas,monospace
}